name: Deploy Docs

on:
  release:
    types: [published]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: macos-13

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - uses: actions/checkout@v3
      - uses: actions/configure-pages@v3

      - name: Select Xcode 15
        run: sudo xcode-select -s /Applications/Xcode_15.0.1.app/Contents/Developer

      - name: Build docs
        run: swift package --allow-writing-to-directory ./docs generate-documentation --target ChatField --disable-indexing --output-path ./docs --transform-for-static-hosting --hosting-base-path ChatField

      - uses: actions/upload-pages-artifact@v2
        with:
          path: "docs"

      - uses: actions/deploy-pages@v2
        id: deployment
